
body
{
    background-color: paleturquoise;
}
h1
{
    color: navy;
    font-family: 'Trebuchet MS' ;
    font-size: 60px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    color: red;
}
h2
{
    color: navy;
    font-size:40px;
}
h3{
    color: navy;
    font-size:40px;
}
h4{
    color: navy;
    font-size:40px
}
p2{
    text-align: left;
    color: red;
}
button{
    align-content: center;
}